<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Login Page</title>

</head>
<body>
        
  <div class="login-dark">
    <form method="post">
      <h1 class="sr-only">Login Form</h1>
      {% if messages %}
      {% for message in messages %}
      <h3 class="login-title" style="color:red;">{{message}}</h3>
      {% endfor %}
      {% endif %}
          {% csrf_token %}
          <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
      <div class="form-group">
        <input class="form-control" type="text" name="username" id="username" placeholder="username">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit" >Login</button>
        <a href="{% url 'forget_password' %}" class="forgot">Forgot your email or password?</a>
      </div>
      <a href="{% url 'not_registered' %}" class="forgot">Not registered yet?</a>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>